nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.mainNavbar, .subNavbar {
  width: 100%;
  overflow: hidden;
  padding: 0 40px;
  position: sticky;
  top: -0;
  right: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.mainNavbar {
  height: 60px;  
  background-color: #121921;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subNavbar {
  height: 40px;
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  align-items: center;
}

.subNavbar > a {
  text-decoration: none;
  color: white;
  padding: 8px 10px;
  border: 1px solid var(--secondary-color);
  transition: 0.15s all ease-in-out;
}

.subNavbar > a:hover {
  border: 1px solid white;
}
.subNavbar > a:active {
  border: 1px solid white;
}

.left {
  display: flex;
  gap: 30px;
}

.logo {
  padding: 10px;
  border: 1px solid var(--primary-color);
  transition: 0.3s all ease-in-out;
}

.logo:hover {
  border: 1px solid white;
}

.logo:active {
  border: 1px solid white;
}

.menu {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border: 1px solid var(--secondary-color);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.menu:hover {
  border: 1px solid white;
}

.menu:active {
  border: 1px solid white;
}
  
.logo a{
  text-decoration: none;
  font-size: 22px;
  color: rgb(32, 59, 196);
  font-weight: bolder;
}

.logo a span {
  color: #ffffff;
}

.middle {
  flex: 1;
  margin: 0 30px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.signInLink {
  text-decoration: none;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}
.cart-icon {
  background-color: transparent;
  border: none;
  width: 30px;
  position: relative;
  cursor: pointer;
}

.cart img {
  width: 100%;
}
  
.cartCount {
  position: absolute;
  top: 0px;
  right: -4px;
  font-size: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 50%;
}
  
@media (max-width: 650px) {
  .left ul {
    display: none;
  }
}