.container {
    width: 100%;
    padding: 10px 100px;
}

img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}
 
.subContainers {
  width: 100%;
  padding: 0 120px;
  margin-bottom: 80px;
}

.titles {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(32, 59, 196);
  text-align: center;
}

.descriptions {
  color: rgb(12, 11, 11);
  font-size: 1rem;
  margin-bottom: 50px;
  margin-top: 10px;
  text-align: center;
}
  
@media (max-width: 1130px) {
  .subContainers {
    padding: 0 40px;
  } 
}
  
  
@media (max-width: 990px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }
}